<!--begin features-->
<section class="features">
    <div class="container">
        <div class="features__wrapper features_wrap">
            <!--begin item-->
            <div class="features_wrap__item features_item main_text">
                <img src="img/icon_features_1.svg" alt="Icon">
                <h3 class="title">Proffesional</h3>
                <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="features_wrap__item features_item main_text">
                <img src="img/icon_features_2.svg" alt="Icon">
                <h3 class="title">Amateurs</h3>
                <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="features_wrap__item features_item main_text">
                <img src="img/icon_features_3.svg" alt="Icon">
                <h3 class="title">For everyone</h3>
                <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            </div>
            <!--end item-->
        </div>
    </div>
</section>
<!--end features-->
<!--begin posts-->
<section class="posts">
    <div class="container">
        <div class="posts__wrapper posts_wrap">
            <!--begin item-->
            <div class="posts_wrap__item posts_item main_text">
                <img src="img/img_post_1.jpg" alt="Post">
                <h3 class="title">Responsive email template</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum mollis</p>
                <a class="btn_green" href="#/">Read more</a>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="posts_wrap__item posts_item main_text">
                <img src="img/img_post_2.jpg" alt="Post">
                <h3 class="title">Fully compatible template</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum mollis</p>
                <a class="btn_green" href="#/">Read more</a>
            </div>
            <!--end item-->
        </div>
    </div>
</section>
<!--end posts-->
<!--begin template-->
<section class="template">
    <div class="container">
        <div class="template__item template_item main_text">
            <h2 class="title">
                <i class="fas fa-cog"></i>
                Fully Supported template
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada sodales risus, a adipiscing lorem commodo vitae. Ut semper semper lacus. Suspendisse convallis vel tellus at consectetur. Aenean risus arcu</p>
            <a class="btn_grey" href="#/">Read more</a>
        </div>
    </div>
</section>
<!--end template-->
<!--begin articles-->
<section class="articles">
    <div class="container">
        <div class="articles__wrapper articles_wrap">
            <!--begin item-->
            <div class="articles_wrap__item articles_item main_text">
                <img src="img/img_article_1.jpg" alt="Img">
                <h2 class="title">FULLY Layered PSD</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#/">Check this out ></a>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="articles_wrap__item articles_item main_text">
                <img src="img/img_article_2.jpg" alt="Img">
                <h2 class="title">FUll Compatibility</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#/">Check this out ></a>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="articles_wrap__item articles_item main_text">
                <img src="img/img_article_3.jpg" alt="Img">
                <h2 class="title">very great modules </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#/">Check this out ></a>
            </div>
            <!--end item-->
        </div>
    </div>
</section>
<!--end articles-->
<!--begin contact-->
<section class="contact">
    <div class="container">
        <div class="contact__wrapper contact_wrap">
            <!--begin item-->
            <div class="contact_wrap__item contact_item main_text">
                <h3 class="title">
                    <i class="fas fa-paper-plane"></i>
                    Send it now
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada sodales risus, a adipiscing lorem.</p>
                <a class="btn_green" href="#/">Read more</a>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="contact_wrap__item contact_item main_text">
                <h3 class="title">
                    <i class="fas fa-pencil-alt"></i>
                    Very nice to see
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada sodales risus, a adipiscing lorem.</p>
                <a class="btn_green" href="#/">Read more</a>
            </div>
            <!--end item-->
        </div>
    </div>
</section>
<!--end contact-->
<!--begin themeforest-->
<section class="themeforest">
    <div class="container">
        <div class="themeforest__wrapper themeforest_wrap">
            <!--begin item-->
            <div class="themeforest_wrap__item themeforest_item">
                <img src="img/img_themeforest.jpg" alt="image">
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="themeforest_wrap__item themeforest_item main_text">
                <h3 class="title">Just for you on themeforest</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum mollis risus, in mattis erat convallis egestas.</p>
                <a class="btn_grey" href="#/">Read more</a>
            </div>
            <!--end item-->
        </div>
    </div>
</section>
<!--end themeforest-->
<!--begin logo-->
<section class="logo">
    <div class="container">
        <div class="logo__title main_text">
            <h3 class="title">
                <i class="far fa-star"></i>
                This template was featured on
            </h3>
        </div>
        <div class="logo__wrapper logo_wrap">
            <!--begin item-->
            <div class="logo_wrap__item">
                <img src="img/logo_techcrunch.png" alt="Logo">
            </div>
            <!--item item-->
            <!--begin item-->
            <div class="logo_wrap__item">
                <img src="img/logo_promail.png" alt="Logo">
            </div>
            <!--item item-->
            <!--begin item-->
            <div class="logo_wrap__item">
                <img src="img/logo_mashable.png" alt="Logo">
            </div>
            <!--item item-->
            <!--begin item-->
            <div class="logo_wrap__item">
                <img src="img/logo_atlaspix.png" alt="Logo">
            </div>
            <!--item item-->
        </div>
    </div>
</section>
<!--end logo-->