<!--begin footer-->
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper footer_wrap">
            <!--begin item-->
            <div class="footer_wrap__item">
                <p><b>Elenea ©</b> copyright 2013 - <a href="#/">Unsubscribe here</a></p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="footer_wrap__item">
                <ul>
                    <li>
                        <a href="#/">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--end item-->
        </div>
    </div>
</footer>
<!--end footer-->
