<!--begin header-->
<header class="header" style="background-image: url('img/bg_header.jpg')">
    <div class="container">
        <div class="header__item header_item">
            <div class="header_item__logo">
                <a href="/">Elena</a>
            </div>
            <nav class="header_item__nav">
                <ul>
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li>
                        <a href="#/">Services</a>
                    </li>
                    <li>
                        <a href="#/">Features</a>
                    </li>
                    <li>
                        <a href="#/">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="header_item__title">
                <h1 class="title">Have a good day</h1>
            </div>
            <div class="header_item__text">
                <span></span>
                <p>Just for you on themeforest</p>
                <span></span>
            </div>
            <div class="header_item__btn">
                <a class="btn_green" href="#/">Get your copy now</a>
            </div>
        </div>
    </div>
</header>
<!--end header-->
